In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
review='/content/drive/MyDrive/Mini_project/Reviews.csv'

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv(review)

In [ ]:
data.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

In [ ]:
data= data[['Id','ProfileName','Score','Summary','Text']]
data.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 5 columns]

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import wordnet

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('J'):
        return wordnet.ADJ
    elif pos_tag.startswith('V'):
        return wordnet.VERB
    elif pos_tag.startswith('N'):
        return wordnet.NOUN
    elif pos_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [ ]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer

def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove stop words
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # pos tag text
    pos_tags = pos_tag(text)
    # lemmatize text
    text = [WordNetLemmatizer().lemmatize(t[0], get_wordnet_pos(t[1])) for t in pos_tags]
    # remove words with only one letter
    text = [t for t in text if len(t) > 1]
    # join all
    text = " ".join(text)
    return(text)

# clean text data
data["review_clean"] = data["Text"].apply(lambda x: clean_text(x))

In [ ]:
data.to_csv("cleaned_dataset",index=False)

In [ ]:
clean_data='/content/drive/MyDrive/Mini_project/cleaned_dataset.csv'

In [ ]:
data1= pd.read_csv(clean_data)

In [ ]:
data1.head()

   Id  ...                                       review_clean
0   1  ...  buy several vitality can dog food product find...
1   2  ...  product arrive labeled jumbo salt peanuts...th...
2   3  ...  confection around century light pillowy citrus...
3   4  ...  look secret ingredient robitussin believe find...
4   5  ...  great taffy great price wide assortment yummy ...

[5 rows x 6 columns]

In [ ]:
data1.iloc[:1000]

       Id  ...                                       review_clean
0       1  ...  buy several vitality can dog food product find...
1       2  ...  product arrive labeled jumbo salt peanuts...th...
2       3  ...  confection around century light pillowy citrus...
3       4  ...  look secret ingredient robitussin believe find...
4       5  ...  great taffy great price wide assortment yummy ...
..    ...  ...                                                ...
995   996  ...  black market hot sauce wonderful husband love ...
996   997  ...  man say salsa bomb different kind almost every...
997   998  ...  sauce good anything like add asian food anythi...
998   999  ...  hot like low star reviewer get suckered see ha...
999  1000  ...  admit sucker large quantity oz shop hot sauce ...

[1000 rows x 6 columns]

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            568454 non-null  int64
 1   ProfileName   568438 non-null  object
 2   Score         568454 non-null  int64
 3   Summary       568427 non-null  object
 4   Text          568454 non-null  object
 5   review_clean  568446 non-null  object
dtypes: int64(2), object(4)
memory usage: 26.0+ MB

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            568454 non-null  int64
 1   ProfileName   568438 non-null  object
 2   Score         568454 non-null  int64
 3   Summary       568427 non-null  object
 4   Text          568454 non-null  object
 5   review_clean  568454 non-null  object
dtypes: int64(2), object(4)
memory usage: 26.0+ MB