In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
clean_data = '/content/drive/MyDrive/Mini_project/cleaned_dataset.csv'

In [ ]:
df = pd.read_csv(clean_data)

In [ ]:
df.drop(df.index[1000:], inplace=True)

In [ ]:
df.head()

   Id  ...                                       review_clean
0   1  ...  buy several vitality can dog food product find...
1   2  ...  product arrive labeled jumbo salt peanuts...th...
2   3  ...  confection around century light pillowy citrus...
3   4  ...  look secret ingredient robitussin believe find...
4   5  ...  great taffy great price wide assortment yummy ...

[5 rows x 6 columns]

In [ ]:
df['Score_label'] = df['Score'].apply(lambda x: 1 if x <=5 & x>=3 else 0)

In [ ]:
df.head()

   Id  ... Score_label
0   1  ...           1
1   2  ...           0
2   3  ...           1
3   4  ...           0
4   5  ...           1

[5 rows x 7 columns]

In [ ]:
df[df.Score==3].head()

    Id  ... Score_label
45  46  ...           0
47  48  ...           0
49  50  ...           0
53  54  ...           0
60  61  ...           0

[5 rows x 7 columns]

In [ ]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
sid = SentimentIntensityAnalyzer()
df["Textsentiments"] = df["review_clean"].apply(lambda review_clean: sid.polarity_scores(review_clean))

In [ ]:
df['compound'] = df['Textsentiments'].apply(lambda score_dict: score_dict['compound'])

In [ ]:
df['prediction'] = df['compound'].apply(lambda c: 1 if c >=0 else 0)

In [ ]:
df.head()

   Id                      ProfileName  ...  compound prediction
0   1                       delmartian  ...    0.9118          1
1   2                           dll pa  ...   -0.1027          0
2   3  Natalia Corres "Natalia Corres"  ...    0.8624          1
3   4                             Karl  ...    0.4404          1
4   5    Michael D. Bigham "M. Wassir"  ...    0.9468          1

[5 rows x 10 columns]

In [ ]:
df= df[['review_clean','Score_label','prediction']]
df.head()

                                        review_clean  Score_label  prediction
0  buy several vitality can dog food product find...            1           1
1  product arrive labeled jumbo salt peanuts...th...            0           0
2  confection around century light pillowy citrus...            1           1
3  look secret ingredient robitussin believe find...            0           1
4  great taffy great price wide assortment yummy ...            1           1

In [ ]:
df['Accuracy'] = df.apply(lambda x: 1 if x[1] == x[2] else 0, axis=1)

In [ ]:
df.head()

                                        review_clean  ...  Accuracy
0  buy several vitality can dog food product find...  ...         1
1  product arrive labeled jumbo salt peanuts...th...  ...         1
2  confection around century light pillowy citrus...  ...         1
3  look secret ingredient robitussin believe find...  ...         0
4  great taffy great price wide assortment yummy ...  ...         1

[5 rows x 4 columns]

In [ ]:
def conf_matrix(x):
  if x[1] == 1 and x[2] == 1:
    return 'TP'
  elif x[1] == 1 and x[2] == 0:
    return 'FN'
  elif x[1] == 0 and x[2] == 1:
    return 'FP'
  elif x[1] == 0 and x[2] == 0:
    return 'TN'
  else:
    return 0
    
df['Conf_Matrix'] = df.apply(lambda x: conf_matrix(x), axis=1)

In [ ]:
df.tail()

                                          review_clean  ...  Conf_Matrix
995  black market hot sauce wonderful husband love ...  ...           TP
996  man say salsa bomb different kind almost every...  ...           TP
997  sauce good anything like add asian food anythi...  ...           TP
998  hot like low star reviewer get suckered see ha...  ...           TN
999  admit sucker large quantity oz shop hot sauce ...  ...           TN

[5 rows x 5 columns]

In [ ]:
df.head()

                                        review_clean  ...  Conf_Matrix
0  buy several vitality can dog food product find...  ...           TP
1  product arrive labeled jumbo salt peanuts...th...  ...           TN
2  confection around century light pillowy citrus...  ...           TP
3  look secret ingredient robitussin believe find...  ...           FP
4  great taffy great price wide assortment yummy ...  ...           TP

[5 rows x 5 columns]

In [ ]:
conf_vals = df.Conf_Matrix.value_counts().to_dict()
print(conf_vals)

accuracy = (conf_vals['TP'] + conf_vals['TN']) / (conf_vals['TP'] + conf_vals['TN'] + conf_vals['FP'] + conf_vals['FN'])
precision = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FP'])
recall = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FN'])
f1_score = 2*precision*recall / (precision + recall)
print('Accuracy: ', round(100 * accuracy, 2),'%',
      '\nPrecision: ', round(100 * precision, 2),'%',
      '\nRecall: ', round(100 * recall, 2),'%',
      '\nF1 Score: ', round(100 * f1_score, 2),'%')

{'TP': 752, 'FP': 162, 'TN': 58, 'FN': 28}
Accuracy:  81.0 %
Precision:  82.28 %
Recall:  96.41 %
F1 Score:  88.78 %